<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catering Management System</title>
</head>
<body>
	<div>
		<h1>Catering Management System</h1>
	</div>
	<div>
		<div>
			<h2>Elenco dei Buffet</h2>
		</div>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Operazione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="buffet: ${buffets}">
					<td th:text="${buffet.nome}"></td>
					<td th:text="${buffet.descrizione}"></td>
					<td>
						<a th:href="@{/administration/buffets/del/{id}(id=${buffet.id})}">Delete</a>
						<a th:href="@{/administration/piatti/new/{buffet_id}(buffet_id=${buffet.id})}">Add Piatto</a>
						<a th:href="@{/administration/piatti/buffet/{buffet_id}(buffet_id=${buffet.id})}">Visualizza i Piatti</a>			
					</td>
				</tr>
			</tbody>
		</table>
			<div>
				<a th:href="@{/default}">Back</a>
			</div>
		</div>
</body>
</html>