<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Elenco Buffets')"> </head>
<body>
	<h1>Elenco Buffet:</h1>

	<table id="customers">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrizione</th>
				<th>Operazione</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="buffet: ${buffets}">
				<td th:text="${buffet.nome}"></td>
				<td th:text="${buffet.descrizione}"></td>
				<td><a
					th:href="@{/administration/piatti/buffet/{buffet_id}(buffet_id=${buffet.id})}">Guarda i Piatti</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>


