<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page: Catering Management</title>
</head>
<body>
	<section>
		<nav>

			<h1>The Catering Company</h1>
			<div>
				<ul>
					<li><a href="/"> HOME </a></li>
					<li><a th:href="@{/administration/chefs}"> CHEFS MANAGMENT </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS MANAGMENT</a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI MANAGMENT</a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI MANAGMENT</a></li>
				</ul>
				<a th:href="@{/logout}"><button type="submit">Log out</button></a>
			</div>
		</nav>
	</section>
</body>
</html>