<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/layout.html :: headerfiles(title='Registration successful')">
<title>Catering Service</title>
</head>
<body
	style="background: url(https://66.media.tumblr.com/tumblr_m7v0lxN0po1rn95k2o1_500.gif); background-size: cover; background-repeat: no-repeat;">

	<section class="sezione-contenuto">
		<div>
			<h3 class="titoletto">
				Registrazione completata con successo.Congratulazioni! <br>
			</h3>
		</div>
		<div class="bottone">
			<a href="/" class="btn btn-info btn-sm twtr" target="_b">Home</a>
		</div>
	</section>
</body>
</html>
